<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="pet.helper.Listners"></listener>
	</listeners>
	<test name="findPets" enabled="true">
		<classes>
			<class name="pet.tests.FindPetsTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
